@import "variable.styl"

body
  font-family -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif
  background-color $fc-f5f5f5
  line-height 1.4
  font-size $fontSizeMedium
  margin 0

a
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

.green
  color $green

.bg-green
  background-color $green
  color $white

.blue
  color $blue

.bg-blue
  background-color $blue
  color $white

.yellow
  color $yellow

.bg-yellow
  background-color $yellow
  color $white

.red
  color $red

.bg-red
  background-color $red
  color $white

.grey
  color $darkGrey

.bg-grey
  background-color $grey

.white
  color $white

.bg-white
  background-color $white

/*字体颜色*/
.fc-000
  color $fc-000

.fc-fff
  color $fc-fff

.fc-e6e6e6
  color $fc-e6e6e6

.fc-00a84c
  color $fc-00a84c

.fc-999
  color $fc-999

.fc-ccc
  color $fc-ccc

.fc-333
  color $fc-333

.fc-ee600c
  color $fc-ee600c

.fc-f5f5f5
  color $fc-f5f5f5

.fc-7f7f7f
  color $fc-7f7f7f

/*背景颜色*/
.bg-fff
  background-color $bg-fff

.bg-14A83B
  background-color $bg-14A83B

.bg-00a84c
  background-color $bg-00a84c

/*四边边框颜色*/
.bd-e6e6e6
  border 1px solid $bd-e6e6e6

.bd-00a84c
  border 1px solid $bd-00a84c

/*顶部边框颜色*/
.bt-e6e6e6
  border-top solid 1px $bt-e6e6e6

/*底边边框颜色*/
.bb-e6e6e6
  border-bottom 1px solid #e6e6e6

.btn
  padding px2rem(11px) px2rem(32px)
  text-align center
  color $white
  display inline-block
  &:link
    color $white
  &:visited
    color $white
  &:hover
    color $white
  &:active
    color $white
  &.btn-sm
    font-size $fontSizeSmall
  &.btn-lg
    padding px2rem(20px) px2rem(80px)
  &.btn-block
    display block
    width: 100%
  &.btn-red
    background-color $red
  &.btn-green
    background-color $green
  &.btn-blue
    background-color $blue
  &.btn-grey
    background-color $white
    border 1px solid $darkGrey
    color $darkGrey
    &:link
      color $darkGrey
    &:visited
      color $darkGrey
    &:hover
      color $darkGrey
    &:active
      color $darkGrey

.fr
  float right

.fl
  float left

.text-center
  text-align center

.text-left
  text-align left

.text-right
  text-align right

.text-bold
  font-weight bold

.center-img
  display flex
  justify-content center
  align-items center
  overflow hidden
  img
    min-width 100%
    min-height 100%

.image-max-width-100
  img
    max-width 100%
    height: auto !important;
  canvas
    max-width 100%

a
  text-decoration none

a:focus
  outline 0

ul, ol, li
  list-style none
  padding 0
  margin 0

h1, h2, h3, h4, h5, h6, p
  margin 0
  padding 0
  font-weight normal

[v-cloak]
  display none !important

img
  max-width 100%
  border 0
  vertical-align middle

dl
  margin 0

dd
  margin 0

input, select, textarea, button
  outline none
  border none

textarea
  resize none
