px2rem($px)
  $rem = 75px
  $px/$rem rem

textMaxLine($line = 1)
  overflow hidden
  text-overflow ellipsis
  display box
  display -webkit-box
  line-clamp $line
  -webkit-line-clamp $line
  -webkit-box-orient vertical

img-center(direction = 'vertical')
  position relative
  overflow hidden
  img
    position absolute
    if direction == 'horizon'
      height 100%
      left 50%
      transform translate(-50%)
    if direction == 'vertical'
      width 100%
      top 50%
      transform translateY(-50%)
    if direction == 'all'
      /* 需要限制宽高，将自适应宽高并且等比例缩放 */
      left 50%
      top 50%
      transform translate(-50%, -50%)

$green = #28a745
$blue = #007bff
$darkBlue = darken($blue, 30%)
$yellow = #ffc107
$red = #c2272d
$lightRed = #e10f47
$grey = #f0f0f0
$darkGrey = #98999b
$white = #fff

$headFootSpace = px2rem(8px)
$headFootBorder = 1px solid darken($grey, 10%)
$headerHeight = px2rem(88px) // 顶部标题 高度
$footerHeight = px2rem(98px) // 底部导航 高度
$operateHeight = px2rem(88px) // 操作按钮 高度

$fontSizeExtraHuge = px2rem(44px)
$fontSizeHuge = px2rem(40px)
$fontSizeExtraLarge = px2rem(36px)
$fontSizeLarge = px2rem(32px)
$fontSizeMedium = px2rem(28px)
$fontSizeSmall = px2rem(24px)
$fontSizeExtraSmall = px2rem(20px)

$paddingExtraSmall = px2rem(20px)
$paddingSmall = px2rem(24px)
$paddingMedium = px2rem(30px)
$paddingLarge = px2rem(40px)
